.infocard-list-evo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infocard-list-evo > .infocard {
  width: 150px;
  vertical-align: middle;
}

.infocard-list-evo > .infocard-arrow {
  width: 165px;
}

.infocard-evo-split {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infocard-evo-split > .infocard-list-evo {
  justify-content: flex-start;
}

.icon-arrow {
  display: block;
  font: normal 2.5rem/1 "Arial Unicode MS", "Trebuchet MS", "Arial", "Helvetica",
    sans-serif;
}

.icon-arrow-n::before {
  content: "↑︎";
}

.icon-arrow-e::before {
  content: "→︎";
}

.icon-arrow-s::before {
  content: "↓︎";
}

.icon-arrow-w::before {
  content: "←︎";
}

.icon-arrow-ne::before {
  content: "↗︎";
}

.icon-arrow-se::before {
  content: "↘︎";
}

.icon-arrow-sw::before {
  content: "↙︎";
}

.icon-arrow-nw::before {
  content: "↖︎";
}

@media (max-width: 619px) {
  .infocard-list-evo {
    flex-direction: column;
  }

  .infocard-list-evo > .infocard {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }

  .infocard-list-evo > .infocard-arrow {
    flex-direction: column;
  }

  .infocard-list-evo .infocard-lg-img {
    margin-right: 0.5rem;
  }

  .infocard-list-evo .infocard-lg-data {
    text-align: left;
  }

  .infocard-evo-split {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .infocard-evo-split .infocard {
    max-width: 140px;
    flex-direction: column;
  }

  .infocard-evo-split .infocard-arrow > small {
    order: 1;
  }

  .infocard-evo-split .infocard-lg-data {
    text-align: center;
  }

  .icon-arrow-e::before {
    content: "↓";
  }

  .icon-arrow-ne::before {
    content: "↓";
  }

  .icon-arrow-se::before {
    content: "↓";
  }
}
