/* import font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Reset Global*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #727272;
  background-image: repeating-linear-gradient(
    -45deg,
    #6a6a6a 0,
    #6a6a6a 2px,
    #727272 2px,
    #727272 11px
  );
  background-size: 16px 16px;
  font-size: 1rem;
  font-family: "Fira Sans Extra Condensed", serif;
  font-style: normal;
}

main {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  margin: auto;
  display: block;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

/* Header */

.header {
  background-image: linear-gradient(to bottom, #3761a8, #fff);
  text-align: center;
}

/* Main */

.main {
  margin: 1.25rem 150px 2rem;
  padding: 20px;
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  flex: 1;
  background: #fff;
  gap: 40px;
}

table {
  align-items: center;
}

.grid-row {
  display: flex;
  justify-content: center;
  margin: 0 -1rem;
}

.single-item__th {
  text-align: center;
}

.single-item-cell__fixed {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-item-cell__name {
  font-size: 1rem;
  font-weight: bold;
}

.single-item__name {
  color: #2769be;
}

.single-item-cell__num {
  text-align: center;
}

.type-normal {
  background-color: #aa9;
}

.type-fire {
  background-color: #f42;
}

.type-water {
  background-color: #39f;
}

.type-electric {
  background-color: #fc3;
}

.type-grass {
  background-color: #7c5;
}

.type-ice {
  background-color: #6cf;
}

.type-fighting {
  background-color: #b54;
}

.type-poison {
  background-color: #a59;
}

.type-ground {
  background-color: #db5;
}

.type-flying {
  background-color: #89f;
}

.type-psychic {
  background-color: #f59;
}

.type-bug {
  background-color: #ab2;
}

.type-rock {
  background-color: #ba6;
}

.type-ghost {
  background-color: #66b;
}

.type-dragon {
  background-color: #76e;
}

.type-dark {
  background-color: #754;
}

.type-steel {
  background-color: #aab;
}

.type-fairy {
  background-color: #e9e;
}

.type-curse {
  background-color: #698;
}

h1,
h2,
h3,
h4 {
  font-family: "Fira Sans Extra Condensed", serif;
  font-style: normal;
  text-align: center;
  display: block;
  font-size: 3em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
